:root{
  --color-text-titulos: #f1e8e8;
  --color-texto: rgba(255, 255, 255, 0.867);
  --color-acento: #134692d3;
  --color-fondo: #0E3A47;
  --color-fondo-tarjeta: #ffffff27;
}
body{
  background-color: var(--color-fondo);
  margin: 40;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;
  grid-template-columns: 195px 1fr;
  grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer";
}
h1, h2, h3, h4, h5, h6{
  color: var(--color-text-titulos);
  text-align: center;
}
h1{
  /* font-size: xxx-large; */
  font-size: xx-large;
}
p, span, h3{
  color: var(--color-texto);
  /* text-wrap:wrap; */
}
/* p{
  margin-top: 0%;
} */
header{
  margin-left: 20px;
  grid-area: header;
  /* background-image: url("./img/fondo.jpeg"); */
  background-color: #73b091;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
}

header div{
padding: 40px;
}

header a{
  padding: 10px 40px;
  border-radius: 5px;
}

header img{
  margin-top: auto;
  max-height: 300px;
  flex-shrink: 1;
  margin-right: 50px;
}

main{
  grid-area: main;
  margin: 0 20px;
}

#proyectosContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: auto;
}

.proyecto{
  flex-basis: 314px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  overflow: hidden;
}

.proyecto img{
  height: 150px;
  object-fit: cover;
  filter:grayscale(0.8);
  transition: 0.2s;
}

.proyecto:hover img{
  filter:grayscale(0);
}

.proyecto div{
  margin: 0 20px;
}

a{
  display: inline-block;
  background-color: var(--color-acento);
  color: var(--color-fondo);
  text-decoration: none;
  font-weight: bold;
}
a.disabled{
  background-color: rgb(195, 195, 195);
  text-decoration:line-through;
}

.proyecto a{
  display: block;
  margin-top: auto;
  text-align: center;
  padding: 5px 10px;
}

.tarjeta{
  background-color: var(--color-fondo-tarjeta) ;
  border-radius: 5px;
}

.tecnologia{
  transition: 0.5s;
  user-select: none;
  margin-right: 2px;
}
.tecnologia:hover{
  color:var(--color-acento)
}

footer{
  grid-area: footer;
}


aside{
  padding: 20px;
  grid-area: aside;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

aside>div{
  padding:  20px 0;
  border-bottom: 2px solid var(--color-fondo);
}

aside>div:last-of-type{
  border-bottom: unset
}

aside img{
  display: block;
  margin: auto;
  max-width:100%;
  max-height: 150px;
  ;
}

#presentacion div, #idiomas div,#tecnologias div{
  display: flex;
  justify-content: space-between;
}

aside div span:last-child{
  color: var(--color-text-titulos);
}

/* Elemento progress */
progress {
  -webkit-appearance: none;
  width: 100%;
}
::-webkit-progress-inner-element {
  height: 5px;
}
/* Parte seleccionada del progress */
::-webkit-progress-value {
  background-color: var(--color-acento);
}
/* Fondo progress */
::-webkit-progress-bar{
  background-color: var(--color-fondo);
}

#redes{
  display: flex;
  justify-content: space-around;
  height: 20px;
}

#redes a{
  background-color: unset;
  cursor: pointer;
}

#redes img:hover{
  filter: invert(1);
}

#redes img{
  aspect-ratio: 1;
  height: 20px;
  filter: invert(0.8);
  transition: 0.5s;
}

footer{
  text-align: center;
}

footer a{
  color: var(--color-texto);
  background-color: unset;
}

@media(max-width:650px){
  header{
    margin-left: unset;
    border-radius: unset;
  }
  header img{
    display: none;
  }
  body{
    grid-template-columns: 1fr;
    grid-template-areas: "header" "aside" "main" "footer";
  }
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');
.color1{
  background: linear-gradient(#ff9900, #ff5b00);
}
.color2{
  background: linear-gradient(#038aee, #0039a9);
}
.color3{
  background: linear-gradient(#04e2ee, #017795);
}
/* Esta clase se genera dinámicamente por la librera para graficos */
.score .box canvas{
  position:absolute;
  top: 0;
  left: 0;
}
/* SECCION T R A B A J O S */
.trabajos{
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}
.trabajos h2{
  text-align: center;
}
.trabajos nav{
  text-align: center;
  margin: 30px 0;
}
.trabajos nav a{
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  color: #007be5;
  font-weight: bold;
  padding: 3px 10px;
  border: 3px solid transparent;
}
.trabajos nav a:hover{
  border: 3px solid #ff5b00;
}
/* Esta clase se agregrá dinámicamente cuando haya seleccionada una opción */
.borde{
  border: 3px solid #ff5b00 !important;  
}
.trabajos .galeria .item img{
  width: 100%;
  height: 100%;
  display: block;
}
.trabajos .galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap:30px;
}
.trabajos .galeria .item{
  position: relative;
  overflow: hidden;
  border: 1px solid #8d8d8d ;
  border-radius: 10px;
}
.trabajos .galeria .item .info{
  position: absolute;
  top: -100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color:#fff ;
  width: 100%;
  padding: 20px;
  opacity: 0;
  transition: .3s;
}
.trabajos .galeria .item .info h3{
  color: #000;
  margin-bottom: 20px;
}
.trabajos .galeria .item .info span{
  color: #8d8d8d;
  display: inline-block;
  border: 2px solid #8d8d8d;
  margin: 0 3px;
  padding:  0 5px;
}
.trabajos .galeria .item .info a{
  display: block;
  margin: 20px;
  text-decoration: none;
  color: #007be5;
  font-weight: bold;
}
.trabajos .galeria .item:hover .info{
  opacity: 1;
  top: 0;
}
/* SECCIÓN C O N T A C T O */
.contacto{
  background:
      linear-gradient(rgba(0,12,103,1), rgba(0,12,103,.8)),
      url(img/foto-contacto.png);
      background-size: cover;
      color: #fff;
      margin-top: 100px;
      padding: 80px 20px;
}
.contacto .contenedor-contacto{
  max-width: 1100px;
  margin: auto;
}
.contacto h2{
  text-align: center;
  padding-bottom: 30px;
}
.contacto .contenedor-contacto .fila{
  display: flex;
}
.contacto .contenedor-contacto .fila .col{
  width: 50%;
}
.contacto .contenedor-contacto .info{
  margin-bottom: 30px;
  border-left: 3px solid #8d8d8d;
  padding-left: 8px;
}
.contacto .contenedor-contacto .info p{
  color: #8d8d8d;
}
.contacto input, .contacto textarea{
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 10px;
  border: 1px solid #8d8d8d ;
  margin-bottom: 20px;
  outline: none;
  color: #ff5b00;
}
.contacto .btn{
  background-color: none;
  padding: 5px 40px;
  border: 2px solid;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #ff5b00, #ff9900);
}

footer{
  background-color: #000;
  color: #fff;
  padding: 7px 0;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width:800px){
.trabajos nav a{
  margin: 0 5px;
}
}